.wrapper__header {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 10px;
}

.contacts-header__spiner {
    margin-top: 6px;
    width: 23px;
    height: 23px;
}

.header__button-wrapper {
    display: flex;
}

.contacts__header {
    display: flex;
}